[Unit]
Description=F3Mon server prod
Wants=network-online.target
After=network.service elasticsearch.service

[Service]
Type=simple
WorkingDirectory=/opt/f3mon/prod
ExecStart=/usr/bin/node --expose-gc /opt/f3mon/prod/app.js 80 es-cdaq-runtime /var/log/f3mon/prod 0
Restart=on-failure
RestartSec=10
#RemainAfterExit=no

[Install]
WantedBy=multi-user.target
