[Unit]
Description=FFF node server priv
Wants=network-online.target
After=fff.service network.service nfs.service rsyslog.service

[Service]
Type=simple
WorkingDirectory=/opt/node/priv
ExecStart=/usr/bin/node --expose-gc /opt/node/priv/app.js 80 /var/log/node/priv 0
Restart=on-failure
RestartSec=10
#RemainAfterExit=no

[Install]
WantedBy=multi-user.target
