<div class="modal">
 <div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" ng-click="$hide()">&times;</button>
<h4 class="modal-title">Warning: close ES collector for run {{selected}}</h4>
</div>
<div class="modal-body">
<div>This command will not shut down the Run but just stop the ElasticSearch data collection.<BR>
It will not be possible to reactivate it by this interface. 
</div>
<div><b>This procedure will overwrite the endTime field.</b></div> 
<div><BR>What's your answer?
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="$hide()">Ops sorry, forget it.</button>
<button type="button" class="btn btn-primary" ng-click="closeCollector(selected) ||  $hide()" >Sure, I know, do it now!</button>
</div>
</div>
</div>
</div> 