  <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Events'" ng-change='unitChanged()' tooltip-placement="bottom" uib-tooltip="Event rate">Events</label>
  <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Bytes'" ng-change='unitChanged()' tooltip-placement="bottom" uib-tooltip="Byte rate">Bytes</label>
  <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Bytes / Event'" ng-change='unitChanged()' tooltip-placement="bottom" uib-tooltip="Event size (bytes/event)">B/E</label>
