<div class="input-group input-group-xs">
  <span class="input-group-addon primary">
    <input ng-change='toggleInputRate()' ng-model="showInputRate" type="checkbox" aria-label="..." style='vertical-align: middle' tooltip-placement="bottom" tooltip-popup-delay="500" uib-tooltip="Show input rate,bandwidth or event size read by HLT processes"/> input </span>
  <span class="input-group-addon primary">
    <input ng-change='unitChanged()' ng-model="showTrans" type="checkbox" aria-label="..." style='vertical-align: middle'
    tooltip-placement="bottom" tooltip-popup-delay="500" uib-tooltip="Show transfer completion row" /> transfers </span>
</div>
