<div class="input-group input-group-xs ">
    <span class="input-group-addon primary"> <input ng-change='tooltipToggle()' ng-model="tooltip" type="checkbox" aria-label="..." style='vertical-align: middle'> tooltip </span>
    <span class="input-group-addon primary"> <input ng-change='unitChanged()' ng-model="useDivisor" ng-disabled='divisorDisabled' type="checkbox" aria-label="..." style='vertical-align: middle' tooltip-placement="bottom" uib-tooltip="Show rates/bandwidth normalized to a second or LS (23.31s) interval"> sec/LS </span>
</div>
