<div class="col-md-3 full-height " id='siderbar' ng-controller='sidebarCtrl'>
    <div class="panel-group full-height">
        <!-- RUNINFO PANEL -->
        <div id="runInfoPanel" class='panel'>
            <div class="panel panel-primary" ng-controller="runInfoCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("runInfoPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>

<!-- restart collector disabled for now
                    <button ng-click='restartCollectorDialog(data.runNumber)' type="button" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" title="Restart data collector."><i class="fa fa-retweet"></i>
                    </button>
 -->
                    <h3 class="panel-title">Run Info: {{data.runNumber ? data.runNumber : "no run ongoing"}}</h3>
                </div>

                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover ">
                            <tbody >
                                <tr>
                                    <th scope="row">StartTime: </th>
                                    <td>{{data.startTime ? (data.startTime | amDateFormat : 'MMM D YYYY, HH:mm' ) : 'N/A'}}</td>
                                </tr>
<!-- 
                                <tr>
                                    <th scope="row">StartTimeRaw: </th>
                                    <td>{{data.startTime ? (data.startTime) : 'N/A'}}</td>
                                </tr>
 -->
                                <tr>
                                    <th scope="row">EndTime: </th>
                                    <td>{{data.endTime ? (data.endTime | amDateFormat : 'MMM D YYYY, HH:mm') : (data.runNumber ? 'ongoing' : 'N/A')}}</td>
                                </tr>
                                <tr class='bt'>
                                    <th scope="row">Streams: </th>
                                    <td style="max-width:100%;word-wrap:break-word"><span> {{data.streamsAsString()}}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">LS: </th>
                                    <td>{{data.lastLs ? data.lastLs : 'N/A'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id='disksInfoPanel' class='panel'>
            <!-- Disk informations -->
            <div class="panel panel-primary" ng-controller="disksInfoCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("disksInfoPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <h3 class="panel-title">Disks Informations:</h3>
                </div>
                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <th scope="row">BU Ramdisks: </th>
                                    <td style="text-align:right">{{data.buRamDisk.percent() ? (data.buRamDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">BU Outdisks: </th>
                                    <td style="text-align:right">{{data.buOutDisk.percent() ? (data.buOutDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">FU Outdisks: </th>
                                    <td style="text-align:right">{{data.fuOutDisk.percent() ? (data.fuOutDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id='runListPanel' class='panel'>
            <!-- Run List -->
            <div class="panel panel-primary" ng-controller="runListCtrl" id='runListPanel'>
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("runListPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <span class="badge pull-right"># Runs: {{data.numRuns}}</span>
                    <h3 class="panel-title">Run List:</h3>
                </div>
                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <input class="form-control" ng-model='data.searchText' ng-change='search()' type="text" placeholder='search...' />
                                    </td>
                                    <td colspan="2">
                                    </td>
                                </tr>
                                <tr>
                                    <th class='clickable' ng-click='changeSorting("runNumber")'>Number <i class="fa" ng-class='sortedClass("runNumber")'></i>
                                    </th>
                                    <th class='clickable' ng-click='changeSorting("startTime")'>Start <i class="fa" ng-class='sortedClass("startTime")'></i>
                                    </th>
                                    <th class='clickable' ng-click='changeSorting("endTime")'>End <i class="fa" ng-class='sortedClass("endTime")'></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-show="!data.noData()">
                                <tr dir-paginate="row in data.displayed | itemsPerPage: data.itemsPerPage" total-items="data.displayTotal" pagination-id="runListPag">
                                    <td>{{row.runNumber}}</td>
                                    <td>{{row.startTime ? ( row.startTime | amDateFormat:"DD/MM/YY HH:mm") : "N/A"}}</td>
                                    <td>{{row.endTime ? (row.endTime | amDateFormat:"DD/MM/YY HH:mm") : "ongoing"}}</td>
                                    <td style='text-align: right'><a ng-click='selectRun(row.runNumber)' role="button" class="btn btn-default btn-xs run-show" data-toggle="tooltip" title="Display this run."><span class="fa fa-play-circle "></span></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.noData()">
                                <tr>
                                    <td colspan="4" class="text-center">No data available </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="!data.noData()">
                                <tr>
                                    <td colspan="1">
                                    </td>

                                    <td colspan="3" class="text-right" style='vertical-align: middle'>
                                        <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="runListPag"></dir-pagination-controls>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id='riverListPanel' class='panel'>
            <!-- River List -->
            <div class="panel panel-primary" ng-controller="riverListCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("riverListPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <h3 class="panel-title">River List:</h3>
                </div>
                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive" style="height:100%;overflow-y: auto">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class='clickable' ng-click='service.changeSorting("_type")'>Name <i class="fa" ng-class='service.sortedClass("_type")'></i>
                                    </th>
                                    <th class='clickable' ng-click='service.changeSorting("role")'>Role <i class="fa" ng-class='service.sortedClass("role")'></i>
                                    </th>
                                    <th>Host</th>
                                </tr>
                            </thead>
                            <tbody ng-show="noData">
                                <tr>
                                    <td colspan="4" class="text-center">No data available </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!noData">
                                <tr dir-paginate="row in data.displayed | itemsPerPage: data.itemsPerPage" total-items="data.total" pagination-id="riverListPag">
                                    <td>{{row.name}}</td>
                                    <td>{{row.role}}</td>
                                    <td>{{row.host}}</span></td>
                                    <td ng-show="row.role=='collector'" style='text-align: right'>
                                        <a ng-click="closeCollectorDialog(row.name)" role="button" class="btn btn-default btn-xs" ><span class="fa fa-power-off "></span></a>
                                    </td>
                                    <td ng-show="row.role!='collector'"></td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="!noData">
                                <tr>
                                    <td colspan="1" class="text-center"></td>
                                    <td colspan="3" class="text-right" style='vertical-align: middle'>
                                        <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="riverListPag"></dir-pagination-controls>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
