<div class="{{classDefault}} full-height" style='padding-top:{{paddingDefault}}px;{{style}}' ng-controller="mainViewCtrl" id='central'>
    <div class="panel-group full-height" ng-show='globalStatus.isTabSelected(0)'>
        <!-- Stream rates chart panel -->
        <div id='srPanel' class='panel'>
            <div class="panel panel-primary" ng-controller="streamRatesCtrl" ng-show='panelSelected(1)'>
                <!-- Default panel contents -->
                <div class="panel-heading" style="overflow:visible">
                    <span ng-show="displayAux" ng-click='selectTour("srPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <div class="btn-group btn-group-xs pull-right" id='sr-ddswitch'>
                        <button type="button" ng-click='selectPanel(1)' class="btn btn-xs btn-default" ng-class="{'btn-primary':panelSelected(1),'disabled': !status.showDrillDown}">&larr;</button>
                    </div>
                    <div id='sr-qtdisplay' class="pull-right" style='text-align:center;width:120px;margin-right:6px' ng-show="displayAux"><span class="badge" style='width:120px'>query: {{queryInfo.took}} ms</span>
                    </div>
                    <div class="pull-right" style="width:30px;margin-right:210px" id='sr-divisor'>
                        <div class="input-group input-group-xs ">
                            <span class="input-group-addon primary"> <input ng-change='toggleAxis()' ng-disabled='isStacked' ng-model="logAxis" type="checkbox" aria-label="..." style='vertical-align: middle'> log </span>
                            <span class="input-group-addon primary"> <input ng-change='unitChanged()' ng-disabled='stackedDisabled' ng-model="isStacked" type="checkbox" aria-label="..." style='vertical-align: middle'> stacked </span>
                            <span class="input-group-addon primary"> <input ng-change='unitChanged()' ng-disabled='accumDisabled' ng-model="isAccum" type="checkbox" aria-label="..." style='vertical-align: middle'> accum </span>
                            <span class="input-group-addon primary"> <input ng-change='toggleInputRate()' ng-model="showInputRate" type="checkbox" aria-label="..." style='vertical-align: middle'> input </span>
                        </div>
                    </div>

                    <div style="margin-left:10px;margin-right:3px" class="btn-group btn-group-xs pull-right" id='sr-unitswitch'>
                        <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Events'" ng-change='unitChanged()'>Events</label>
                        <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Bytes'" ng-change='unitChanged()'>Bytes</label>
                        <label class="btn btn-primary" ng-model="unit" uib-btn-radio="'Bytes / Event'" ng-change='unitChanged()'>B/E</label>
                    </div>

                    <div class="pull-right" style="width:120px;" id='sr-divisor' ng-show="displayAux">
                        <div class="input-group input-group-xs ">
                            <span class="input-group-addon primary"> <input ng-change='tooltipToggle()' ng-model="tooltip" type="checkbox" aria-label="..." style='vertical-align: middle'> tooltip </span>
                            <span class="input-group-addon primary"> <input ng-change='unitChanged()' ng-model="useDivisor" ng-disabled='divisorDisabled' type="checkbox" aria-label="..." style='vertical-align: middle'> sec/LS </span>
                        </div>
                    </div>

                    <div style="margin-left:3px;margin-right:10px" class="btn-group btn-group-xs pull-right" id='sr-rangeselectswitch'>

                        <button type="button" class="btn btn-primary" disabled ng-show="displayAux">
                          Range Mode:
                        </button>

                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-show="displayAux">
                          <span id="abcde">{{selectorMode}}</span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="selector-mode-list">
                          <li ng-repeat="item in selectorModes" class="list-group-item" ng-click="selectorModeSet(item)"><a href="">{{item}}</a>
                          </li>
                        </ul>
                    </div>

                    <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o"></i>
                    
                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>

                    Stream Rates
                    </h3>

                </div>
                <div class="nav-collapse" uib-collapse="isCollapsed">
                  <div class="panel-body" style='height:{{hpx}}px;'>
                 <div id="srchart" style='height:95%;width:99%' ></div>

<!--                     <div id="inrchart" style='height:25%;width:95%;margin-left:8px'></div>
                     <div id="srchart"  style='height:55%;width:99%'></div> -->

       <!--           </div> -->

                  <!--<div class="panel-body" style='height:{{400}}px;'>-->
                  </div>
 
                </div>
            </div>
            <!-- Drill down table panel -->
            <div class="panel panel-primary marginless" ng-controller='drillDownCtrl' ng-show='panelSelected(2)'>
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <div class="btn-group btn-group-xs pull-right">
                        <button type="button" ng-click='exitDD(1)' class="btn btn-xs btn-default" ng-class="{'btn-primary':panelSelected(1),'disabled': !status.showDrillDown}">&larr;</button>
                    </div>

                    <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o"></i> {{queryParams.type }} LS range: {{queryParams.from}} - {{queryParams.to}} {{queryParams.stream? " | Stream: "+queryParams.stream : ""}}  </h3>
                </div>
                <div class="nav-collapse" uib-collapse="isCollapsed">
                <div class="panel-body" style='height:{{hpxdd}}px'>
                    <div id="ddchart" style='height:95%'></div>
                </div>
                </div>
            </div>
        </div>



        <div id='msPanel' class='panel' style='height:auto'>
            <!-- Microstate chart panel -->
            <div class="panel panel-primary" ng-controller='microStatesCtrl' style='height:100%' id='msPanel'>
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("msPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>

                    <div style="margin-left:3px;margin-right:10px" class="btn-group btn-group-xs pull-right" id='sr-microchartselectswitch'>

                        <button type="button" class="btn btn-primary" disabled>
                          <i class="fa fa-area-chart-o"></i> Chart Library:
                        </button>
                        <!-- todo: understand why unit/Event names in first button are needed to have it selected on page load -->
                        <label class="btn btn-primary" ng-model="chartLib" uib-btn-radio="'highcharts'" ng-change='switchChartLib()'>HighCharts</label>
                        <label class="btn btn-primary" ng-model="chartLib" uib-btn-radio="'nvd3'" ng-change='switchChartLib()'>NVD3</label>
                        <label class="btn btn-primary" ng-model="chartLib" uib-btn-radio="'disabled'" ng-change='switchChartLib()'>Disabled</label>
                    </div>

                    <div class="pull-right" style="width:120px;" id='ms-legendctrl'>
                        <div class="input-group input-group-xs ">
                            <span class="input-group-addon primary"> <input ng-model="showLegendView" ng-click="toggleLegend()" type="checkbox" aria-label="..." style='vertical-align: middle'> legend </input></span>
                        </div>
                    </div>


                    <h3 class="panel-title">

                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#micro-panel-body-collapse-1,#micro-panel-body-collapse-2"><i class="fa fa-power-off"></i></button>
                      --><button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>
 
                    <i class="fa fa-area-chart"></i> Microstates Time chart</h3>
                </div>
                <!--<div class="panel-collapse collapse in" id="micro-panel-body-collapse-1">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                <div class="panel-body" style='height:90%;padding:0px; border:0px; margin:20px;' disable-all="isDisabledHc">
                     <div id="mschart" style='height:95%;width:99%'></div>
                </div>
                </div>
                <!--<div class="panel-collapse collapse in" id="micro-panel-body-collapse-2">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                <div class="panel-body" style='height:90%;padding:0px; border:0px; margin:20px;' disable-all="isDisabledNvd3">
                     <nvd3 options='options' data='data' api='api'></nvd3>
                </div>
                </div>
            </div>

        </div>



        <div id='ssPanel' class='panel' style='height:auto'>
            <!-- Microstate chart panel -->
            <div class="panel panel-primary" ng-controller='streamSummaryCtrl' style='height:100%'>
                <!-- Default panel contents -->
                <div class="panel-heading">
 
                    <h3 class="panel-title">
                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#micro-panel-body-collapse-1,#micro-panel-body-collapse-2"><i class="fa fa-power-off"></i></button>
                      --><button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>
 
                    <i class="fa fa-table"></i> Stream Completeness</h3>
                </div>

                <!--<div class="panel-collapse collapse in" id="micro-panel-body-collapse-1">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                    <div class="panel-body" style='height:90%;padding:0px; border:0px; margin:20px;'>
                    <!--<table class="" style="font-size:9pt;">-->
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head1"></tr></thead>
                    <tbody ng-bind-html="body1"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head2"></tr></thead>
                    <tbody ng-bind-html="body2"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head3"></tr>
                    </thead>
                    <tbody ng-bind-html="body3"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head4"></tr>
                    </thead>
                    <tbody ng-bind-html="body4"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head5"></tr>
                    </thead>
                    <tbody ng-bind-html="body5"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head6"></tr>
                    </thead>
                    <tbody ng-bind-html="body6"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head7"></tr>
                    </thead>
                    <tbody ng-bind-html="body7"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head8"></tr>
                    </thead>
                    <tbody ng-bind-html="body8"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head9"></tr>
                    </thead>
                    <tbody ng-bind-html="body9"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head10"></tr>
                    </thead>
                    <tbody ng-bind-html="body10"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head11"></tr>
                    </thead>
                    <tbody ng-bind-html="body11"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head12"></tr>
                    </thead>
                    <tbody ng-bind-html="body12"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head13"></tr>
                    </thead>
                    <tbody ng-bind-html="body13"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head14"></tr>
                    </thead>
                    <tbody ng-bind-html="body14"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head15"></tr>
                    </thead>
                    <tbody ng-bind-html="body15"></tbody>
                    </table>
                    <table class="table table-hover table-condensed">
                    <thead><tr ng-bind-html="head16"></tr>
                    </thead>
                    <tbody ng-bind-html="body16"></tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <div class="panel-group full-height" ng-show='globalStatus.isTabSelected(1)'>
        <div class="panel panel-primary" style='height:100%' ng-controller="logsCtrl" id='logPanel'>
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Log Messages </h3>
            </div>
            <div class="panel-body" style='height:85%;'>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr style="width:100%">
                                <th colspan="2">
                                    <input class="form-control" type="text" ng-change='search()' ng-model='queryParams.search' placeholder='search...' />
                                </th>

                                <th colspan="2" class="text-right" style='vertical-align: middle'>
                                    <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="logPagination"></dir-pagination-controls>
                                </th>
                            </tr style="width:100%">
                            <tr>
                                <th class='clickable' ng-click='changeSorting("host")' style="width:13%;word-wrap:break-word;text-align: center">Host<i class="fa" ng-class='sortedClass("host")'></i>
                                </th>

                                <th style="width:6%;word-wrap:break-word;text-align: center">Pid<i class="fa"></i>
                                </th>

                                <th class='clickable' ng-click='changeSorting("severity")' style="width:8%;text-align: center">Severity<i class="fa" ng-class='sortedClass("severity")'></i>
                                </th>

                                <th style="width:58%;word-wrap:break-word;text-align: center">Message<i class="fa"></i>
                                </th>

                                <th class='clickable' ng-click='changeSorting("msgtime")' style="width:15%;text-align: center" data-toggle="tooltip" title='Local time of the host machine'>HostTime<i class="fa" ng-class='sortedClass("msgtime")'></i>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive" style="height:95%;overflow-y: auto;">
                    <div ng-show="data.noData()" class="noDataMsg">No Data.</div>
                    <table class="table table-striped table-hover table-condensed table-bordered" ng-show="!data.noData()">

                        <tbody>
                            <tr dir-paginate="row in data.displayed | itemsPerPage: data.itemsPerPage" total-items="data.displayTotal" pagination-id="logPagination">
                                <td style="width:13%;word-wrap:break-word;">{{row.host}}</td>
                                <td style="width:6%;word-wrap:break-word;">{{row.pid}}</td>
                                <td style="width:8%;text-align: center">{{row.severity}}</td>
                                <td style="width:58%;word-wrap:break-word">{{row.message}}</td>
                                <td style="width:15%;">{{row.msgtime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
