<div class="col-md-3 full-height ">
    <div class="panel-group full-height">
        <!-- RUNINFO PANEL -->
        <div class="panel panel-primary" ng-controller="runInfoCtrl">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span style="margin-left:10px" class="clickable pull-right"><i class="fa fa-question"></i></span>                
                <button type="button" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" title="Restart data collector." ><i class="fa fa-retweet"></i></button>
                <h3 class="panel-title">Run Info: {{runNumber}}</h3>
            </div>

            <div class="panel-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">StartTime: </th>
                                <td>{{startTime | date:"medium"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">EndTime: </th>
                                <td>{{endTime ? (endTime | date:"medium") : "ongoing"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Streams: </th>
                                <td style="max-width:100%;word-wrap:break-word">{{streams}}</td>
                            </tr>
                            <tr>
                                <th scope="row">LS: </th>
                                <td>{{lastls}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Disk informations -->
        <div class="panel panel-primary" ng-controller="disksInfoCtrl">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span style="margin-left:10px" class="clickable pull-right"><i class="fa fa-question"></i></span>                
                <h3 class="panel-title">Disks Informations:</h3>
            </div>
            <div class="panel-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">BU Ramdisks: </th>
                                <td style="text-align:right">{{buRamDisk ? (buRamDisk | percentage:2 )+" used" : "N/A" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">BU Outdisks: </th>
                                <td style="text-align:right">{{buOutDisk ? (buOutDisk | percentage:2 )+" used" : "N/A" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">FU Outdisks: </th>
                                <td style="text-align:right">{{fuOutDisk ? (fuOutDisk | percentage:2 )+" used" : "N/A" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Run List -->
        <div class="panel panel-primary" ng-controller="runListCtrl">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span style="margin-left:10px" class="clickable pull-right"><i class="fa fa-question"></i></span>                
                <span class="badge pull-right"># Runs: {{numRuns}}</span>
                <h3 class="panel-title">Run List:</h3>
            </div>
            <div class="panel-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class='clickable' ng-click='changeSorting("runNumber")'>Number <i class="fa" ng-class='sortedClass("runNumber")'></i></th>
                                <th class='clickable' ng-click='changeSorting("startTime")'>Start <i class="fa" ng-class='sortedClass("startTime")'></i></th>
                                <th class='clickable' ng-click='changeSorting("endTime")'>End <i class="fa" ng-class='sortedClass("endTime")'></i></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!noData">
                            <tr dir-paginate="row in displayed | itemsPerPage: itemsPerPage" total-items="numFiltered" pagination-id="runListPag">
                                <td>{{row.runNumber}}</td>
                                <td>{{row.startTime | date:"dd/MM/yy HH:mm"}}</td>
                                <td>{{row.endTime ? (row.endTime | date:"dd/MM/yy HH:mm") : "ongoing"}}</td>
                                <td ng-click='selectRun(row.runNumber)' style='text-align: right'><a role="button" class="btn btn-default btn-xs run-show" data-toggle="tooltip" title="Display this run."><span class="fa fa-play-circle "></span></a></td>
                            </tr>
                        </tbody>
                        <tbody ng-show="noData">
                            <tr>
                                <td colspan="4" class="text-center">No data available </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <input class="form-control" ng-model='searchText' ng-change='search()' type="text" placeholder='search...' />
                                </td>
                                <td colspan="2" class="text-right" style='vertical-align: middle'>
                                    <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="runListPag"></dir-pagination-controls>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- River List -->
        <div class="panel panel-primary" ng-controller="riverListCtrl">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span style="margin-left:10px" class="clickable pull-right"><i class="fa fa-question"></i></span>                
                <h3 class="panel-title">River List:</h3>
            </div>
            <div class="panel-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class='clickable' ng-click='changeSorting("_type")'>Name <i class="fa" ng-class='sortedClass("_type")'></i></th>
                                <th class='clickable' ng-click='changeSorting("role")'>Role <i class="fa" ng-class='sortedClass("role")'></i></th>
                                <th>Host</th>
                            </tr>
                        </thead>
                        <tbody ng-show="noData">
                            <tr>
                                <td colspan="4" class="text-center">No data available </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!noData">
                            <tr dir-paginate="row in displayed | itemsPerPage: itemsPerPage" total-items="total" pagination-id="riverListPag">
                                <td>{{row.name}}</td>
                                <td>{{row.role}}</td>
                                <td>{{row.host}}</td>
                                <td ng-show="row.role=='collector'" style='text-align: right'><a role="button" class="btn btn-default btn-xs run-show" data-toggle="tooltip" title="Stop data collector."><span class="fa fa-power-off "></span></a></td>
                                <td ng-show="row.role!='collector'"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-right" style='vertical-align: middle'>
                                    <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="riverListPag"></dir-pagination-controls>
                                </td>

                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
