<header id="header" class="">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"></a>
                <ul class="nav navbar-nav navbar-left nav-tabs" rol="tablist" ng-controller="tabsCtrl">

                    <li id='f3monButton' ng-class="{'active': globalStatus.isTabSelected(0)}" tooltip-placement="bottom" uib-tooltip="Click to reload">
                        <a href="" ng-click='globalStatus.changeTab(0,true)'><big><b>F<sup>3</sup>&nbsp;Mon</b></big></a>
                    </li>

                    <li id="logButton" ng-class="{'active': globalStatus.isTabSelected(1)}">
                      <!-- Alert Link HLTd-->
                      <a href="" ng-click='globalStatus.changeTab(1,true)'><i class="fa fa-bell"></i> F<sup>3</sup>Alerts
                        <span class="label label-success" id="logNum"  ng-class="{'label-danger':logdata.numHLTd > 0}">{{logdata.numHLTd || 0}}</span>
                      </a>
                    </li>
                      <!-- Alert Link HLT-->
                    <li id="logButtonHLT" ng-class="{'active': globalStatus.isTabSelected(2)}">
                      <a href="" ng-click='globalStatus.changeTab(2,true)'><i class="fa fa-bell"></i> HLT Alerts
                        <span class="label label-success" id="logNumHLT"  ng-class="{'label-danger':logdata.numHLT > 0}">{{logdata.numHLT || 0}}</span>  
                      </a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">

                <!-- SubSystem Selector-->
                <div id='indexButton' class="btn-group" ng-controller="systemSelectorCtrl">
                    <button type="button" class="btn navbar-btn navbar-btn-blue btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-database"></i> System:
                        <span id="selected-index"></span> {{selected}}
                        <span class="caret" style="margin-left: 10px"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="subsystem-list">
                        <li ng-repeat="item in list" class="list-group-item" ng-click="change(item.subSystem)"><a href="">{{item.subSystem}}</a>
                        </li>
                    </ul>
                </div>


               <!-- Timezone Selector-->
                <div id='timezoneButton' class="btn-group" ng-controller="timezoneSelectorCtrl">
                    <button type="button" class="btn navbar-btn navbar-btn-blue btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-clock-o"></i> Timezone:
                        <span id="selected-index"></span> {{selected}}
                        <span class="caret" style="margin-left: 10px"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="subsystem-list">
                        <li ng-repeat="item in list" class="list-group-item" ng-click="select(item)"><a href="">{{item}}</a>
                        </li>
                    </ul>
                </div>


               <!-- Settings Selector-->
<!--                 <div id='settingsButton' class="btn-group" ng-controller="settingsCtrl">
                    <button type="button" class="btn navbar-btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i> Settings:
                        <span id="selected-index"></span> Default
                        <span class="caret" style="margin-left: 10px"></span>
                    </button>
                </div>
 -->

                <!-- RiverStatus and RunRiver Buttons-->
                <div id='riverStatusButton' class="btn-group" ng-controller="riverStatusCtrl" style="margin-left: 2px">
                    <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown" ng-class="data.isWorking " ng-controller="riverStatusCtrl">
                        <i class="fa fa-exchange"></i> RiverStatus
                    </button>
                    <ul class="dropdown-menu list-group" class role="menu" id="subsystem-list">
                        <li class="list-group-item" ng-repeat="item in data.messages" ng-class="{'list-group-item-success':item.isWorking,'list-group-item-danger':!item.isWorking}" ng-click="preventClose($event)">{{item.msg}}</li>
                    </ul>
                </div>

                <div class='btn-group' id='runRangerButton'>
                    <button type="button" class="btn navbar-btn" ng-class="{'btn-success':isActive,'btn-danger':!isActive}" ng-controller="runRangerCtrl" ng-click="toggle()">
                        <style>
                          /*tooltip*/ .tooltip.customClass .tooltip-inner {  color: #880000;background-color: #ffff32;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
                          /*arrow*/ .tooltip.customClass .tooltip-arrow {display: none;}
                        </style>
                        <span uib-tooltip="RunRanger is OFF! Click to monitor the live system!" tooltip-class="customClass" tooltip-is-open="showTooltip && !isActive" tooltip-placement="bottom" >
                          <i class="fa fa-search"></i> RunRanger
                        </span>
                    </button>
                </div>

                <div class='btn-group' class="btn-group" id='pauseButton' style="margin-left: 2px">
                    <button type="button" class="btn navbar-btn btn-success" ng-class="{'btn-success':isActive,'btn-danger':!isActive}" ng-controller="pollerCtrl" ng-click="toggle()">
                        <span >
                          <i class="fa" ng-class="{'fa-play':isActive,'fa-pause':!isActive}"></i>
                        </span>
                    </button>
                </div>

                <!-- RIGHT-BAR LINKS -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../sc/bigpic.html" id="tribeButton" tooltip-placement="bottom" uib-tooltip="Status of HLT appliances"><i class="fa fa-sitemap"></i> BigPic</a>
                    </li>

                    <li><a href="../index.html" id="mainMenuButton" tooltip-placement="bottom" uib-tooltip="Links to all F3 monitoring tools"><i class="fa fa-list"></i> Menu</a>
                    </li>
 
                    <!--<li><a href="../kibana-tribe/#/dashboard/file/rateTribe"><i class="fa fa-sitemap"></i> Kibana-rateTribe</a>
                    </li>-->
                    <li>
                        <a ng-controller="guideCtrl" ng-click="startTour()" href="" id="tourButton"><i class="fa fa-question"></i> Guide</a>
                    </li>
                    <!--<li><a id="hltButton"><i class="fa fa-line-chart"></i> HLT Rates</a></li>-->
                </ul>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

</header>
<!-- /header -->
