<div class="col-md-3 full-height" id='siderbar' ng-controller='sidebarCtrl' style='{{style}}'>
    <div class="panel-group full-height">
        <!-- RUNINFO PANEL -->
        <div id="runInfoPanel" class='panel'>
            <div class="panel panel-primary" ng-controller="runInfoCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("runInfoPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>

                    <!--<button ng-click='restartCollectorDialog(data.runNumber)' type="button" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" title="Restart data collector."><i class="fa fa-retweet"></i>
                    </button> -->

                    <h3 class="panel-title">Run Info: {{data.runNumber ? data.runNumber : "no run ongoing"}}</h3>
                </div>

                <div class="panel-body">
                    <!-- Table -->
                    <div id="runInfoElement" class="table-responsive" style="min-height: {{minHeight}} !important;">
                        <table class="table table-condensed table-striped table-hover ">
                            <tbody >
                                <tr>
                                    <th scope="row">StartTime: </th>
                                    <td>{{data.startTime ? (data.startTime | amDateFormat : 'MMM D YYYY, HH:mm' ) : 'N/A'}}</td>
                                </tr>
<!-- 
                                <tr>
                                    <th scope="row">StartTimeRaw: </th>
                                    <td>{{data.startTime ? (data.startTime) : 'N/A'}}</td>
                                </tr>
 -->
                                <tr>
                                    <th scope="row">EndTime: </th>
                                    <td>{{data.endTime ? 0>=data.activeBUs ? (data.endTime | amDateFormat : 'MMM D YYYY, HH:mm') : 'degraded' : (data.runNumber ? 'ongoing' : 'N/A')}}</td>
                                    <!--<td>{{data.endTime ? (data.endTime | amDateFormat : 'MMM D YYYY, HH:mm') : (data.runNumber ? 'ongoing' : 'N/A')}}</td>-->
                                </tr>
                                <tr class='bt'>
                                    <th scope="row">Streams: </th>
                                    <td style="max-width:100%;word-wrap:break-word;font-size: 12px;"><span> {{data.smartStreamsAsString()}}</span></td>
                                    <!--<td style="max-width:100%;word-wrap:break-word"><span> {{data.smartStreamsAsString()}}</span></td>-->
                                </tr>
                                <tr>
                                    <th scope="row">LS: </th>
                                    <td>{{data.lastLs ? data.lastLs : 'N/A'}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">BUs: </th>
                                    <!--<td bgcolor="{{buFracColor()}}">{{data.totalBUs && data.activeBUs ? ((data.activeBUs/data.totalBUs) | percentage:2 ) +" running" : "N/A" }}</td>-->
                                    <td bgcolor="{{buFracColor()}}">{{data.totalBUs &amp;&amp; data.activeBUs ? data.activeBUs + " of " +data.totalBUs +" running" : "N/A" }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Resources: </th>
                                    <td bgcolor="{{resFracColor()}}">{{dataDisks.resourceFrac.percent()!==false ? (dataDisks.resourceFrac.percent() | percentage:2 ) +" active CPU slots ("+dataDisks.resourceFrac.active+")" : "N/A" }}</td>
                                    <!--<td bgcolor="{{resFracColor()}}">{{dataDisks.resourceFrac.percent()!==false ? (dataDisks.resourceFrac.percent() | percentage:2 ) 
                                                     +" active CPU slots (all: "+dataDisks.resourceFrac.total+")" : "N/A" }}</td>-->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id='disksInfoPanel' class='panel'>
            <!-- Disk information -->
            <div class="panel panel-primary" ng-controller="disksInfoCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("disksInfoPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <h3 class="panel-title">

                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#disks-panel-body-collapse"><i class="fa fa-power-off"></i></button>
                      --><button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>
                    Disks Information
                    </h3>
                </div>
                <!--<div class="panel-collapse collapse in" id="disks-panel-body-collapse">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <th scope="row">BU Ramdisks: </th>
                                    <td style="text-align:right" bgcolor="{{diskFracColor('buRamDisk')}}">{{data.buRamDisk.percent()!==false ? (data.buRamDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">BU Outdisks: </th>
                                    <td style="text-align:right" bgcolor="{{diskFracColor('buOutDisk')}}">{{data.buOutDisk.percent()!==false ? (data.buOutDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">FU Outdisks: </th>
                                    <td style="text-align:right" bgcolor="{{diskFracColor('fuOutDisk')}}">{{data.fuOutDisk.percent()!==false ? (data.fuOutDisk.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>
                                <!--<tr>
                                    <th scope="row">Run Resources: </th>
                                    <td style="text-align:right">{{data.resourceFrac.percent()!==false ? (data.resourceFrac.percent() | percentage:2 )+" used" : "N/A" }}</td>
                                </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div id='runListPanel' class='panel'>
            <!-- Run List -->
            <div class="panel panel-primary" ng-controller="runListCtrl" id='runListPanel'>
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("runListPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <span class="badge pull-right"># Runs: {{data.numRuns}}</span>
                    <h3 class="panel-title">

                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#runlist-panel-body-collapse"><i class="fa fa-power-off"></i></button>
                      --><button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>
                    Run List
                    </h3>
                </div>
                <!--<div class="panel-collapse collapse in" id="runlist-panel-body-collapse">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                <div class="panel-body">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class='clickable' ng-click='changeSorting("runNumber")'>Number <i class="fa" ng-class='sortedClass("runNumber")'></i>
                                    </th>
                                    <th class='clickable' ng-click='changeSorting("startTime")'>Start <i class="fa" ng-class='sortedClass("startTime")'></i>
                                    </th>
                                    <th class='clickable' ng-click='changeSorting("endTime")'>End <i class="fa" ng-class='sortedClass("endTime")'></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-show="!data.noData()">
                                <tr dir-paginate="row in data.displayed | itemsPerPage: data.itemsPerPage" total-items="data.displayTotal" pagination-id="runListPag">
                                    <!--<td>{{row.runNumber+"&#149;"}}</td>-->
                                    <td>{{row.runNumber}}</td>
                                    <td>{{row.startTime ? ( row.startTime | amDateFormat:"DD/MM/YY HH:mm") : "N/A"}}</td>
                                    <td>{{row.endTime ? (0>=row.activeBUs ? (row.endTime | amDateFormat:"DD/MM/YY HH:mm") : "degraded") : "ongoing"}}</td>
                                    <!--<td>{{row.endTime ? (row.endTime | amDateFormat:"DD/MM/YY HH:mm") : "ongoing"}}</td>-->
                                    <td style='text-align: right'><a ng-click='selectRun(row.runNumber)' role="button" class="btn btn-default btn-xs run-show" data-toggle="tooltip" title="Display this run."><span class="fa fa-play-circle "></span></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.noData()">
                                <tr>
                                    <td colspan="4" class="text-center">No data available </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="!data.noData()">

                                <tr>
                                    <td colspan="10" class="text-center" style='vertical-align: middle'>
                                        <dir-pagination-controls max-size='5' boundary-links='true' on-page-change="pageChanged(newPageNumber)" pagination-id="runListPag"></dir-pagination-controls>
                                    </td>

                                </tr>

                                <tr>
                            
                                    <td colspan="4" class="text-right" style='vertical-align: middle'>
                                        <input style="width:35%" class="pull-left form-control" ng-model='data.searchText' ng-change='search()' type="text" placeholder='search...' />
<!--                                        <dir-pagination-controls max-size='7' on-page-change="pageChanged(newPageNumber)" pagination-id="runListPag"></dir-pagination-controls> -->
                                    </td>

                                </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div id='riverListPanel' class='panel'>
            <!-- River List -->
            <div class="panel panel-primary" ng-controller="riverListCtrl">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span ng-click='selectTour("riverListPanel")' style="margin-left:10px" class="clickable pull-right"><i class="help fa fa-question"></i></span>
                    <h3 class="panel-title">

                    <div class="btn-group btn-group-xs pull-left" style="margin-right:10px">
                      <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rivers-panel-body-collapse"><i class="fa fa-power-off"></i></button>
                      --><button type="button" class="btn btn-primary" ng-click="collapseChanged()" ><i class="fa fa-power-off"></i></button>
                    </div>
                    River List
                    <!--<a href="" data-toggle="collapse" data-target="#rivers-panel-body-collapse" >River List</a>-->
                    </h3>
                </div>
                <!--<div class="panel-collapse collapse in" id="rivers-panel-body-collapse">-->
                <div class="nav-collapse" uib-collapse="isCollapsed">
                  <div class="panel-body" id="rivers-panel-body">
                    <!-- Table -->
                    <div class="table-responsive" style="height:100%;overflow-y: auto;overflow-x: auto;">
                        <table class="table table-striped table-hover table-condensed" >
                            <thead>
                                <tr>
                                    <th class='clickable' ng-click='service.changeSorting("_type")'>Name <i class="fa" ng-class='service.sortedClass("_type")'></i>
                                    </th>
                                    <!--<th class='clickable' ng-click='service.changeSorting("role")'>Role <i class="fa" ng-class='service.sortedClass("role")'></i>-->
                                    </th>
                                    <th style='text-align: center'>Host</th>
                                    <th style='text-align: center'>System</th>
                                    <th style='text-align: center'>Status</th>
                                </tr>
                            </thead>
                            <tbody ng-show="noData">
                                <tr>
                                    <td colspan="4" class="text-center">No data available </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!noData">
                                <tr dir-paginate="row in data.displayed | itemsPerPage: data.itemsPerPage" total-items="data.total" pagination-id="riverListPag">
                                    <td style='font-size: 12px'>{{row.name}}</td>
                                    <!--<td>{{row.role}}</td>-->
                                    <td style='white-space: nowrap;font-size: 12px' >{{row.host}}</td>
                                    <td style='text-align: center;font-size: 12px'>{{row.subSystem}}</td>
                                    <td style='text-align: center;font-size: 12px'>{{row.status}}</td>
                                    <td ng-show="row.role=='collector'" style='text-align: right'>
                                        <a ng-click="closeCollectorDialog(row.name,row.subSystem)" role="button" class="btn btn-default btn-xs" ><span class="fa fa-power-off "></span></a>
                                    </td>
                                    <td ng-show="row.role!='collector'"></td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="!noData">
                                <tr>
                                    <td colspan="1" class="text-center"></td>
                                    <td colspan="4" class="text-right" style='vertical-align: middle'>
                                        <dir-pagination-controls max-size='5' on-page-change="pageChanged(newPageNumber)" pagination-id="riverListPag"></dir-pagination-controls>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
